.App {
  text-align: center;
}

body {
  background-image: url(Pictures/QuoteBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  position: relative;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px; 
  display: table;
  background-color: #fff;
}

#quote-box #textDiv {
  text-align: left;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

#quote-box #textDiv #text {
  font-size: 1em;
  margin-right: 0.4em;
}

#quote-box #textAuthor {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  
  text-align: right;
}
#author {
  font-size: 1.2em;
}



#author {
  margin-left: 70%;
}

